:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body{
  background-color: #dddbd68c;
}

::-webkit-scrollbar {
  display: block;
}

.scrollbar {
  overflow: scroll;
  background-color: #fff ;
  border-radius: 10px;
  overflow-y: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.buttonAtras {
  background-color: "#E61C23"; 
}

.buttonAtras:hover {
  background-color: "#891B1F"; 
}